<div class="span12">
        <h3 class="heading">用户入账</h3>
		<div class="row-fluid">
			
				
					<div class="span12">
					<fieldset>
						<div class="tabbable tabbable-bordered">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#search" data-toggle="tab">入账查询</a></li>
								<li ><a href="#success_info" id="tab_product" data-toggle="tab">成功入账列表</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="search">
									<%require file='dashboard.search'%>
								</div>
								<div class="tab-pane" id="success_info">
							
								</div>
								
							</div>
						</div>
						<br>
						
					
					
					</fieldset>

					</div>
			
			
		</div>
</div>