<div class="span12">
        <h3 class="heading">转账</h3>
		<div class="row-fluid">
			
				
					<div class="span12">
					<fieldset>
						<div class="tabbable tabbable-bordered">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#transtorm" data-toggle="tab">转入用户账户</a></li>
								<li ><a href="#unsuccess_info" id="tab_product" data-toggle="tab" onClick="getWithdrawList()">转账列表</a></li>
								<li ><a href="#success_info" id="tab_product" data-toggle="tab" onClick="getWithdrawBills()">下载转账账单</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="transtorm">
									<%require file='dashboard.search'%>
								</div>
								<div class="tab-pane" id="unsuccess_info">
									<div id="unsuccess_info_list"></div>
								</div>
								<div class="tab-pane" id="success_info">
									<div id="bill_list"></div>
								</div>
							</div>
						</div>
						<br>
						
					
					
					</fieldset>

					</div>
			
			
		</div>
</div>

<script>
function getWithdrawList(status)
{
	eric.request.ajaxLoad('/dashboard/WithdrawalsList','unsuccess_info_list');
}

function getWithdrawBills()
{
	eric.request.ajaxLoad('/dashboard/getWithdrawBills?type=1','bill_list');
}
</script>